@import '../toast';
@import '../frontend/styles/components/overlays';

.ant-layout-content {
	padding: 1em;
}

.km-system-btn-group {
	margin-top: 1em;
	> a {
		.ant-btn {
			margin: 0.5em 0;
		}
		&:first-child .ant-btn {
			margin-top: 0;
		}
		&:last-child .ant-btn {
			margin-bottom: 0;
		}
	}
}

.ant-layout-header {
	height: auto;
	line-height: normal;
	padding: 1em;
	background: #141414;

	.title {
		font-size: 1.75em;
		font-weight: bold;
	}
	.description {
		font-size: 1em;
	}
}

.ant-menu-item {
	display: flex;
	align-items: center;

	& > a {
		display: block;
		line-height: initial;
		white-space: pre-wrap;
	}
}

.UI-notification-loading .ant-spin-nested-loading {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ant-form-item {
	text-align: left;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
	color: #ff8949;
}

.UI-notification-loading .ant-spin-container {
	display: none;
}

@keyframes pulse {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.pathFolders {
	word-break: break-all;
}

.menuItemInactive {
	pointer-events: none;
}

#video {
	z-index: 9999;
	width: 75%;
	height: 75%;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.wrap-label {
	.ant-form-item-label {
	  white-space: normal;
	}
}